@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
}

#icon {
  width: 3.125em;
  height: 3.125em;
  border: 4px solid rgb(209, 206, 206);
  border-top: 4px solid #3498db;
  padding: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quote-box {
  max-width: 70%;
  max-height: 75%;
  padding: 20px;
  border: 2px solid mintcream;
  border-radius: 6px;
  background-color: #000;
  margin: auto;
  overflow: auto;
}

.fa-quote-left {
  font-size: 37px;
  padding-right: 15px;
  display: inline;
}

a {
  text-decoration: none;
}

q {
  quotes: none;
}

#text {
  display: inline;
  text-align: center;
  font-size: 28px;
  font-family: 'Merienda';
}

#author {
  font-size: 22px;
  font-family: Arial;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 15px;
}

#new-quote,
#previous-quote {
  float: right;
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: none;
}

.react-sharing-button--twitter .react-sharing-button__text:hover,
.react-sharing-button--facebook .react-sharing-button__text:hover,
.react-sharing-button--tumblr .react-sharing-button__text:hover {
  color: rgb(123, 171, 211);
}

.btn {
  font-weight: 600;
  padding: 5px;
  margin-right: 6px;
  border-radius: 7px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.link {
  color: darkturquoise;
}

.loader {
  border: 2px soild rgb(209, 206, 206);
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #000;
  text-align: center;
  color: mintcream;
  font-size: 13px;
  border-radius: 1px;
  font-family: Arial;
}

@media only screen and (max-width: 800px) {
  #quote-box {
    width: 74%;
  }

  #text {
    font-size: 25px;
  }

  #author {
    font: 20px;
  }

  .react-sharing-button__link {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  #quote-box {
    width: 88%;
  }

  #text {
    font-size: 18px;
  }

  #author {
    font-size: 16px;
  }

  #new-quote, #previous-quote {
    font-size: 12px;
  }

  .fa-quote-left {
    font-size: 30px;
  }

  .loader {
    width: 22px;
    height: 22px;
  }

  .react-sharing-button__link {
    font-size: 12px;
  }
}

