@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

h1 {
  color: #E4688D;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quote-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-height: 45%;
  padding: 20px;
  border: 2px solid mintcream;
  border-radius: 6px;
  background-color: #000;
  margin: auto;
  overflow: auto;
}

a {
  text-decoration: none;
}

#text {
  display: block;
  text-align: center;
  font-size: 28px;
  font-family: 'Merienda';
}

#author {
  font-size: 22px;
  font-family: Arial;
  text-align: right;
}

#new-quote, #previous-quote {
  float: right;
  margin-top: 5px;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  margin-right: 6px;
  font-family: 'Roboto', sans-serif;
  border-radius: 7px;
}

.btn:hover {
  transform: scale(0.9);
}

.link {
  color: darkturquoise;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #000;
  text-align: center;
  color: mintcream;
  font-size: 18px;
  border-radius: 4px;
  font-family: Arial;
}

@media screen and (max-width: 768px) {
  #quote-box {
    width: 80%;
  }
}